body {
	font-family: 'Lato', san-serif;
	color: #0;
}

h1 {
	text-shadow: 3px 5px 5px #445544;
}

a:hover {
	color: #ffccb3;
	text-decoration: none;
}

button {
	padding: 10px;
	border-radius: 5px;
}

.nav-button {
	background-color: #ffeedd;
}

.kitten-button {
	background-color: #CCC5FA;
}

.section {
}

#test {
}

li {
	padding: 5px;
}

